<% if (pagination == 2){ %>
    <% page.posts.each(function(post){ %>
        <%- partial('article', {post: post, index: true}) %>
    <% }) %>
    <% } else { %>
        <div class="header-text col-12 ">
            <%
            var title = [];
            if (page.current > 1) title.push(__('page', page.current));
            if (page.title) title.push(page.title);
            if (page.category) title.push(page.category);
            if (page.tag) title.push(page.tag);
            if (page.archive) {
                if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
                else title.push(__('archive_a'));
            }
            title.push(config.subtitle);
            %>
            <h1><%= title.join(' - ') %></h1>
        </div>
        <% page.posts.each(function(post, i){ %>
            <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
        <% }) %>
    <% } %>
    <% if (page.total > 1){ %>
    <div id="page-nav" class="col-12">
        <%- bs_paginator({
        prev_text: 'Prev',
        next_text: 'Next'
        }) %>
    </div>
<% } %>
